.cart{
    background-color: #00000071;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;


    .cart__container{
        transform: translateX(0px);
        transition: 0.3s ease-in-out;
    }
}

.cart.disabled{
    opacity: 0;
    visibility: hidden;

    .cart__container{
        transform: translateX(500px);
    }
}

.cart__container{
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    width: 500px;
}

.cart__inner__container{
    width: 450px;
    margin: 0 auto;
}

.cart__inner__container p{
    cursor: pointer;
}

.cart__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin-top: 40px;
}

.cart__main{
    height: 70vh;
    overflow-y:scroll;
}

.cart__bottom{
    height: 15vh;
}

.cart__bottom button{
    background-color: #2e2e2e;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: #fff;
    font-family: "Montserrat", serif;
    cursor: pointer;
}

.XXX{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.XXX:hover{
    transform: rotate(180deg);
}